server:
  port: 8888

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Linxfeng/config-repo/
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
