@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
table{ border-collapse:collapse;}
body{font-size:12px;}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }
.clears{ clear:both;}
a:hover{color:#F00;}

/*mianCont*/
.mianCont{width:980px;margin:0 auto;}
.top{height:25px;line-height:25px; position:relative;}
.top span a{color:#F00;}
.top span a:hover{color:#0C3;}
.topRight{ position:absolute;top:0;right:0;color:#747474;}
.top .topRight a{color:#747474;}
.top .topRight a:hover{color:#F00;}
.lsg{padding:5px 0; position:relative;}

/*logo*/
.logo{width:217px;height:90px;}

/*sub*/
.subBox{width:389px;height:34px; position:absolute;left:282px;top:35px;}
.subBoxDiv{width:389px;height:34px; position:relative;}
.subLeft{margin:0;padding:0;border:0;background:none;width:0;height:0;border:#E6E6E6 1px solid;width:320px;height:32px;padding-left:4px; position:absolute;left:0;top:0;}
.sub{width:63px;height:34px; position:absolute;right:0;top:0;}
.hotWord{ position:absolute;height:20px;line-height:20px;top:38px;left:4px;width:380px;}

/*gouwuche*/
.gouwuche{width:220px; position:absolute;right:0;top:35px;}
.gouCar{padding:0 5px;width:205px;height:31px;border:#E6E6E6 1px solid;line-height:31px;font-size:14px;color:#747474;margin-bottom:1px;}
.gouCar a{color:#747474;}
.gouCar a:hover{color:#F00;}
.red{color:#F00;}

/*pnt*/
.pnt{}
.pntLeft{width:210px;border:#d6cfcf 3px solid;float:left;}
.InPorNav{padding:0 5px;}
.InPorNav li{height:38px;line-height:38px;padding-left:5px;font-size:14px;border-bottom:#C4C3C3 1px solid;margin-bottom:1px; background:url(../images/zuojian2.jpg) 175px center no-repeat; position:relative;z-index:9;}
.InPorNav li a{ display:block;width:198px;}
.InPorNav li.inProNavStyle{background:url(../images/zuojian2_s.jpg) 175px center no-repeat;}
.InPorNav li.inProNavStyle a:hover{color:#d6cfcf; font-weight:bold;}
.Title{height:33px;line-height:33px;background:#d6cfcf;font-size:16px; text-align:center;color:#FFF;}
.chilInPorNav{ position:absolute;left:201px;top:-1px;padding:5px 10px; background:#FFF; z-index:10; display:none;border:#d6cfcf 1px solid;}
.InPorNav .chilInPorNav a{height:30px;line-height:30px;margin:0; background:none;border-bottom:1px solid #d6cfcf; }
.pntRight{width:756px;float:right;padding-left:3px;}
.nav{height:30px;line-height:30px;padding-top:5px;border-bottom:#d6cfcf 2px solid; position:relative; font-family:"微软雅黑";}
.nav li{float:left;margin:0 35px 0 12px;font-size:16px;font-weight:bold;}
.nav li a:hover,.nav .navCur a{color:#d6cfcf;}
.phone{ position:absolute;font-size:16px;color:#d6cfcf;right:4px;top:7px; font-weight:bold;}

/*banner*/
.banner{width:756px;height:310px;margin-top:10px;}
#kinMaxShow{visibility:hidden;width:100%; height:310px; overflow:hidden;}
#kinMaxShow img{height:310px;}

/*rdPro*/
.rdPro{margin-top:15px;}
.rdLeft{width:748px;border:#E6E6E6 1px solid; background:#fff;float:left;}
.rdList{height:40px;border-bottom:#E6E6E6 1px solid;}
.rdList li{height:37px; position:relative;bottom:-1px;border-bottom:#E6E6E6 1px solid;width:165px;float:left;font-size:16px;line-height:38px; text-align:center;border-top:#fff 2px solid;border-right:#E6E6E6 1px solid;font-family:"微软雅黑";cursor:pointer;font-weight:bold;}
.rdList li.rdListStyle{border-top:#d6cfcf 2px solid;border-bottom:#fff 1px solid;color:#d6cfcf;}
.rdProBox{height:205px;height:auto !important;min-height:205px;padding:2px 0; display:none;}
.rdPro dl{width:132px;float:left;margin-left:6px;border:#fff 1px solid;padding:3px; display:inline;}
.rdPro dl.rddlstyle{border:#d6cfcf 1px solid;}
.rdPro dt,.rdPro dt img{width:132px;height:129px;}
.rdPro dd{line-height:15px;margin-top:2px;}
.rdPro .cheng{font-size:14px;color:#eb9d23; font-weight:bold;height:33px;line-height:33px;margin:0;}
.rdRight{width:221px;float:right;}

/*hengfu*/
.hengfu{padding:12px 0; text-align:center;}

/*floor*/
.floor{border:#EFEFEF 1px solid; background:#fff;}
.floorTitle{height:40px;line-height:40px;padding-left:7px; position:relative;font-size:16px;color:#666;font-family:"微软雅黑";border-bottom:#EFEFEF 1px solid;}
.more{ position:absolute;right:10px;top:0;font-size:12px; font-weight:400;}
.floorBox{}
.floorLeft{padding:10px 0;padding-bottom:0;width:218px;float:left;}
.flList{}
.flList li{width:92px;height:26px;border:#efefef 1px solid; background:#f8f8f8;line-height:26px; text-align:center;float:left;margin:10px 0 0 10px;color:#848484; cursor:pointer;}
.flList li a{color:#848484;}
.flList li a:hover{color:#F00;}
.flList li.flListStyle{border:#C7F7E1 1px solid;background:#E5FFF1;}
.flImg{padding-top:20px; text-align:center;}
.floorRight{width:760px;float:right;}
.frProList dl{width:132px;float:left;border:#efefef 1px solid;padding:11px 28px; display:inline;border-right:#fff 1px solid; position:relative;}
.frProList{ display:none;}
.floorRight dl.frListDlstyle{border:#ccc 1px solid;border-right:#ccc 1px solid;}
.floorRight dt,.rdPro dt img{width:132px;height:129px;}
.floorRight dd{line-height:15px;margin-top:2px;}
.floorRight .cheng{font-size:14px;color:#eb9d23; font-weight:bold;height:33px;line-height:33px;margin:0;}

/*inHelp*/
.inHelp{border:#efefef 1px solid;border-top:2px solid #0400ff;margin-top:20px; font-family:"微软雅黑";}
.inHLeft{width:325px;float:left;border-right:#efefef 1px solid;}
.inHelp h4{height:45px;line-height:45px;padding-left:18px;font-size:16px;color:#1b0202;}
.inHeList li{width:140px;height:36px; text-align:center;line-height:36px;float:left;margin:0px 0 14px 14px;}
.inHeList li a{ display:block;width:138px;height:34px;border:#B1B1B1 1px dashed;}
.inHeList li a:hover{border:#d6cfcf 1px solid; color:#d6cfcf;}
.inHRight{width:326px;float:right;}
.telBox{width:180px;height:44px; background:url(../images/telBack.jpg) left center no-repeat;line-height:44px;padding-left:54px;font-size:21px;color:#6e6e6e; font-weight:bold;margin-left:17px;}
.weibo{padding:15px 0 0 17px;}

/*footer*/
.footer{line-height:30px;color:#5f5f5f; text-align:center;padding:5px 0;}
.footer a{color:#5f5f5f;}
.footer a:hover{color:#f00;}
.backTop{ display:block;width:49px;height:67px; background:url(../images/backtop.gif) left top no-repeat; position:fixed;right:20px;bottom:20px; display:none;}

/*下拉InPorNav*/
.Title{ position:relative;z-index:9; cursor:pointer;}
.Title .InPorNav{width:200px; position:absolute;left:-3px;top:33px;border:#d6cfcf 3px solid; background:#fff;z-index:10; display:none;}
.Title .InPorNav li{ text-align:left;font-weight:400;}

/*positions*/
.positions{height:55px;line-height:55px;padding-left:25px;}
.positions a{color:#333;}
.positions a:hover,.positions .posCur{color:#F00;}

/*cont*/
.cont{ background:#fff;padding:0 10px; position:relative;padding-top:10px;}
.contLeft{width:176px;border:#d6cfcf 2px solid;float:left;padding-bottom:1px;}
.leftPorNav{font-size:14px;}
.leftPorNav li{height:36px;line-height:36px; position:relative;}
.leftPorNav li a{ display:block;width:151px;padding-left:25px; background:url(../images/zuojian3.jpg) 151px center no-repeat;border-bottom:#efefef 1px solid;}
.leftPorNav li a:hover{color:#d6cfcf;border-bottom:#d6cfcf 1px solid; font-weight:bold; background:none;}
.leftPorNav .chilInPorNav{left:175px;}
.contRight{width:760px;float:right;border-right:#efefef 1px solid;}
.contRight .frProList{ display:block;}
.contRight .frProList dl.frListDlstyle{border:#ccc 1px solid;border-right:#ccc 1px solid;}
.contRight .frProList dd{line-height:15px;margin-top:3px;}
.contRight .frProList .cheng{color:#eb9d23;font-weight:bold;font-size:14px;line-height:20px; position:relative;}
.contRight .frProList .cheng span{ position:absolute;right:0;top:0; font-size:12px;color:#999; font-weight:400; text-decoration:line-through}
.jilu{width:100px;height:28px;border:#efefef 1px solid; font-size:14px; text-align:center;line-height:28px; position:absolute;right:10px;top:-30px;}
.jilu span{color:#F00;font-weight:bold;}

/*login*/
.loginLogo{width:100%;border-bottom:#efefef 1px solid;}
.logoMid{width:1040px;margin:0 auto;}
.loginReg{height:30px;line-height:30px; text-align:right;}
.loginReg a{color:#d6cfcf;}
.loginReg a:hover{color:#f00;}
.loginBox{width:1050px;margin:30px auto; position:relative;}
.loginLeft{width:726px;float:left; background:url(../images/loginLeft.jpg) right center no-repeat;}
.loginRight{width:300px;float:right;padding-left:15px;}
.loginRight h2{font-size:20px;height:40px;line-height:40px; font-family:"微软雅黑";}
.loginRight h3{font-size:12px; font-weight:400;height:25px;line-height:25px;margin-top:10px;}
.name,.pwd{ margin:0;padding:0;border:0; background:none;width:283px;height:33px;border:#738400 1px solid; background:#FEFFDF;padding-left:3px;}
.zhuangtai{height:30px;line-height:30px;}
.zhuangtai input{ position:relative;top:2px;}
.subs{margin-top:10px;}
.reg{ font-size:14px;}
.regList{height:35px;line-height:35px;margin-bottom:30px; position:relative;}
.regList label{ float:left; width:105px;margin-right:10px; text-align:right;color:#999;}
.regList input{margin:0;padding:0;border:0; background:none;width:283px;height:33px;border:#738400 1px solid; background:#FEFFDF;padding-left:3px;}
.regList .yanzheng{width:135px;}
.regList img{left:260px; position:absolute;}
.xieyi{ height:30px;line-height:30px;font-size:12px;padding-left:115px;}
.xieyi input{ position:relative;top:2px;}
.xieyi a{color:#d6cfcf;}
.reg{padding-left:115px;margin-top:10px;}
.chengnuo{ position:absolute;right:0;top:0;}
.contLeft{width:178px;border:#d6cfcf 1px solid;}
.leftTitle{height:39px;line-height:39px;padding-left:47px; background:url(../images/help1.jpg) 15px center no-repeat;border-bottom:#d6cfcf 1px solid;}
.helpNav{padding-bottom:10px;}
.helpNav dt{height:30px;font-size:12px; font-weight:bold;padding-left:47px; background:url(../images/help2.jpg) 16px center no-repeat;line-height:30px;margin-top:10px;}
.helpNav dd{height:22px;line-height:22px;padding-left:47px;}
.helpNav dd a:hover{color:#d6cfcf; text-decoration:underline;}
.helpNav dt.help2{background:url(../images/help3.jpg) 16px center no-repeat;}
.helpNav dt.help3{background:url(../images/help4.jpg) 16px center no-repeat;}
.helpNav dt.help4{background:url(../images/help5.jpg) 16px center no-repeat;}
.gouLiu{height:40px;line-height:40px; font-size:16px; text-align:center;}
.helpPar{color:#666;line-height:22px;}
.carImg{padding-bottom:10px; text-align:center;}

/*order*/
.orderList{width:100%;}
.orderList th{font-weight:400;height:28px;background:#ececec; text-align:center;}
.orderList td{text-align:center;padding:10px 2px;border-bottom:#ccc 1px dashed;}
.orderList td dt{width:85px;height:85px;border:#CCC 1px solid;float:left;}
.orderList td dd{width:300px;float:left;margin-left:10px;line-height:16px; text-align:left;padding-top:30px;}
.green{color:#232af9;line-height:20px;}
.shanchu{color:#0C0; cursor:pointer; text-align:left;}
.shanchu img{ position:relative;top:3px;}
.shuliang{width:50px;margin:0;padding:0;border:0; background:none;border:#ddd 1px solid;height:23px; position:absolute;left:21px;top:0; text-align:center;}
.jian{ position:absolute;left:0;top:0;}
.jia{ position:absolute;right:0; top:0;}
.jia_jian{width:94px; position:relative;height:25px;}
.zongji{height:30px; background:#ececec;line-height:30px;padding:0 6px; text-align:right;font-size:14px;margin-top:10px;}
.jiesuan{width:230px;float:right;padding-top:15px;}
.jiesuan a{ float:left;width:100px;height:30px; background:#ececec; text-align:center;line-height:30px;margin-left:15px;}
.jiesuan .jie_2{ background:#d6cfcf;color:#FFF;}
.jiesuan .jie_2:hover{ background:#F00;}
.orderTitle{height:30px;line-height:30px;background:#ececec;padding-left:10px;margin:10px 0;}
.ord{width:100%}
.ord td{padding:10px 3px; text-align:center;}
.upd,.add{ cursor:pointer;}
.address{padding:30px 0 10px 100px; display:none;}
.addList{height:30px;line-height:30px;margin-top:5px;}
.addList label{ float:left;width:100px; text-align:right;margin-right:5px;}
.addList input{width:220px;height:20px;}
.addList select{width:140px;border:#efefef 1px solid;}
.addList2{padding:15px 0 0 105px;}
.zhiList{margin-top:10px;}
.zhiList li{width:155px;height:39px;line-height:39px;background:#e1e5e4;margin-right:1px;float:left; text-align:center;font-size:14px; font-weight:bold;color:#d6cfcf; display:inline; cursor:pointer;}

.zhifufangshi{width:898px;border:#D4D4D4 1px solid;margin:0;padding:10px 0;height:250px;height:auto !important;min-height:250px;border-top:#d6cfcf 2px solid; display:none;}
.yinhang{}
.yinhang li{float:left; list-style:none;height:41px;width:156px;line-height:41px;padding-left:20px; position:relative;border:#CCC 1px solid;margin:5px 18px; display:inline; cursor:pointer;}
.yinhang input{ position:absolute;top:10px;left:2px;}
.lijizhifu{margin:20px; text-align:center;}
.zhiList li.zhistyle{background:#d6cfcf;color:#fff;}
.zongjia{font-size:14px;margin-top:40px;}
.zongjia td{height:35px;}
.chenggong{font-size:14px;width:250px; margin:100px auto;}
.chenggong h3{height:50px;line-height:50px;padding-left:50px; background:url(../images/duihao.png) 2px center no-repeat;font-size:24px; font-family:"微软雅黑"}
.zhifu{padding:10px 0 10px 50px;line-height:40px;}

/*proinfo*/
#tsShopContainer li,#tsShopContainer img{vertical-align:top;}
#tsShopContainer{width:300px;position:relative;border:1px solid #CCC;float:left;}
#tsShopContainer #tsImgS{text-align:center;width:100%;position:relative;}
#tsShopContainer #tsImgS a{display:block;text-align:center;margin:0px auto;}
#tsShopContainer #tsImgS img{border:0px;}
#tsShopContainer #tsPicContainer{width:100%;height:70px;position:relative;background:url(../images/scrollPicbg.gif) repeat-x 0px 0px;}
#tsShopContainer #tsPicContainer #tsImgSArrL{width:17px;height:100%;background:url(../images/picshopArr.gif) no-repeat left center;position:absolute;top:0px;left:8px;cursor:pointer;}
#tsShopContainer #tsPicContainer #tsImgSArrR{width:17px;height:100%;background:url(../images/picshopArr.gif) no-repeat right center;position:absolute;top:0px;right:8px;cursor:pointer;}
#tsShopContainer #tsPicContainer #tsImgSCon{position:absolute;top:10px;left:38px;width:1px;height:70px;overflow:hidden;}
#tsShopContainer #tsPicContainer #tsImgSCon ul{width:100%;overflow:hidden;}
#tsShopContainer #tsPicContainer #tsImgSCon li{width:57px;float:left;cursor:pointer;}
#tsShopContainer #tsPicContainer #tsImgSCon li img{padding:3px;margin:1px;border:1px solid  #e4e4e4;display:block;width:42px;height:42px;}
#tsShopContainer #tsPicContainer #tsImgSCon li.tsSelectImg img{border:2px solid #F00;margin:0px;}
/* CSS class for zoomed area */
.MagicZoomBigImageCont {
	border:1px solid #91b817;
	background:#FFF;
}

.MagicZoomMain {
	text-align: center !important;
	width: 92px;
}

.MagicZoomMain div {
	padding: 0px !important;
}

/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */
.MagicZoomHeader {
	font:			10px Tahoma, Verdana, Arial, sans-serif;
	color:			#fff;
	background:		#91b817;
	text-align:     center !important; 
}


/* CSS class for small looking glass square under mouse */
.MagicZoomPup {
	border: 		0px solid #aaa;
	background: 	#ffffff;
}

/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align:		center;
	background: 	#ffffff;
	color:			#444;
	border: 		1px solid #ccc;
	opacity:		0.8;
	padding:		3px 3px 3px 3px !important;
	display: 		none; /* do not edit this line please */
}

/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top:	3px !important;
}
.proBoxRight{width:445px;float:right;line-height:25px;font-size:14px;}
.proTitle{height:40px;line-height:40px;font-size:16px; font-family:"微软雅黑";}
.rongliang{}
.rongliang li{height:18px;line-height:18px;width:50px;border:#CCC 1px solid;margin: 5px 5px 0 0; text-align:center; font-family:"微软雅黑";font-size:12px;cursor:pointer;float:left;}
.rongliang li.rongStyle{border:#d6cfcf 1px solid;color:#d6cfcf;}
.shuliang2{padding-top:10px;}
.shuliang2 input{width:40px; text-align:center;border:#efefef 1px solid;height:18px;}
.gc{margin-top:20px;}
.fangyuan{border-bottom:#060 1px solid;margin:20px 0 0 0;}
.fangyuan li{width:110px;height:34px;line-height:34px; text-align:center;background:url(../images/fangyuan.jpg)  left center no-repeat;color:#000;font-size:14px; font-family:"微软雅黑";float:left;margin-right:5px; cursor:pointer; font-weight:bold;}
.fangyuan li.fangyuanstyle{ background:url(../images/fangyuan_s.jpg)  left center no-repeat;color:#fff;}
.fangPar{line-height:20px;font-family:"微软雅黑";padding:10px 5px;}
.fangList{ display:none;}

/*vipNav 个人中心*/
.vipNav{}
.vipNav dt{ background:url(../images/open.png) 32px center no-repeat; cursor:pointer;}
.vipNav dt.vipNavStyle{ background:url(../images/close.png) 32px center no-repeat;}
.vipNav dd{ display:none;line-height:22px;height:auto;}
.vipNav dd a{ display:block;}
.vipName,.oredrName{font-family:"微软雅黑";}
.vipName{height:40px;font-size:20px; color:#d6cfcf;}
.vipName span{font-size:16px; color:#000;}
.oredrName{font-size:14px;height:35px;line-height:35px;}
.oredrName span{font-size:12px; font-weight:400;}
.vipOrder{width:100%;}
.vipOrder td{padding:15px 5px; text-align:center;}
/*分页代码*/
div.scott{padding:3px;margin:3px;text-align:center;}
div.scott a{border:#ddd 1px solid;padding:2px 5px;color:#88af3f;margin:0 2px 0 0;text-decoration:none;}
div.scott a:hover{border:#85bd1e 1px solid;color:#638425;background-color:#f1ffd6;}
div.scott a:active{border:#85bd1e 1px solid;color:#638425;background-color:#f1ffd6;}
div.scott span.current{border:#b2e05d 1px solid;padding:2px 5px;font-weight:bold;color:#fff;margin:0 2px 0 0;background-color:#b2e05d;}
div.scott span.disabled{border:#f3f3f3 1px solid;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

#contLeft .vipCur{color:#d6cfcf; text-decoration:underline;}
.vipMy{width:100%;}
.vipMy th{ background:#5d8dd6;color:#fff;height:25px;}
.vipMy td{padding:8px 4px;line-height:20px; text-align:center;border:#d6cfcf 1px solid;}
h1 .vipUp{font-size:14px;margin-left:40px;color:#5d8dd6; cursor:pointer;}
.vipAdress{width:100%;}
.vipAdress th{background:#d6cfcf;height:25px;line-height:25px;color:#1b0202; text-align: 
;}
.vipAdress td{border:#ccc 1px solid;padding:8px 3px;line-height:20px; text-align:center;}
.orderDeatils{width:100%;}
.orderDeatils th{width:30%;height:30px;font-size:14px; text-align:right;padding-right:15px;font-family:"微软雅黑";border:#CCC 1px solid;}
.orderDeatils td{border:#CCC 1px solid;padding-left:10px;}
.contLeft dd .helpCur{color:#d6cfcf; text-decoration:underline;}
/*contactLeft*/
.contactBox{ background:#fff;padding-bottom:10px;}
.contactLeft{}
.contactLeft li{height:30px;line-height:30px;}
.contactLeft li strong{font-size:16px;color:#666;}
.contactRight{width:508px;float:right;}
.contactRight h3{font-size:24px;color:#5e9f22;height:46px;line-height:46px; background:#f9f9f9;padding-left:10px;}



