#appDown {
	position: relative;
	height: 0px;
	font-size: 0px;
	background: red;
}

.erweima {
	width: 103px;
	height: 145px;
	border: 1px solid #dbdbdb;
	padding: 0;
	position: absolute;
	top: 0;
	left: -115px;
	background: url('../images/app_bg.png') no-repeat;
}

.erweima .shutDown {
	width: 18px;
	height: 18px;
	display: block;
	float: right;
	cursor: pointer;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#erweimaNews {
	width: 103px;
	padding: 0;
	position: absolute;
	top: 18px;
	left: 0;
}

.erweima .erweimaPic {
	width: 103px;
	height: 80px;
	float: left;
	padding: 0;
	margin: 4px 0 0 0;
	text-align: center;
}

.erweima .erweimaPic a {
	margin: 0;
	padding: 0;
}

.erweima img {
	border: 0;
	vertical-align: middle;
}

.erweima .ft {
	width: 100%;
	padding: 5px 0 0 0;
	float: left;
	line-height: 17px;
	color: #6b6b6b;
	text-align: center;
}

.erweima .ft a {
	color: #6b6b6b;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.erweima .ft {
	line-height: 17px;
	color: #6b6b6b;
	text-align: center;
}