@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-size: 12px;
	font-family: Microsoft YaHei, simsun, arial, helvetica, clean, sans-serif;
	background: #056dae;
	color: #2b2b2b;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

select,input,img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table,td,tr,th {
	font-size: 12px;
}

select,input {
	color: #A0A0A0;
	font-family: SimSun;
}

input:focus {
	outline: 0 none;
}

a:focus {
	outline: medium none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:link,a:visited {
	color: #595959;
}

a:hover {
	text-decoration: underline;
	color: #ba2636;
}

fieldset,img {
	border: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 12px;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.blank10 {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	height: 10px;
	margin: 0px;
	padding: 0px;
}

.fb {
	font-weight: bold;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: bold
}

.noborder_l {
	border-left: 0px;
}

.noborder_r {
	border-right: 0px;
}

.f_gray {
	color: #999;
}

.f_red {
	color: #F00;
}

.f_green {
	color: #008040;
}

.f_orange {
	color: #ec640a;
}

a.gray:link,a.gray:visited {
	color: #999;
}

a.green:hover {
	color: #999;
}

a.green:link,a.green:visited {
	color: #008040;
}

a.green:hover {
	color: #999;
}

a.blue:link,a.blue:visited {
	color: #005BAB;
}

a.blue:hover {
	color: #999;
}

a.red:link,a.red:visited {
	color: #F00
}

a.red:hover {
	color: #999;
}

a.yellow:link,a.yellow:visited {
	color: #FF5A00
}

a.red:hover {
	color: #999;
}

.hidden {
	display: none;
}

.index_bg {
	background: url(images/index_bg.jpg) no-repeat center top #d9dbd8;
}

.index_bg2 {
	background: url(images/index_bg2.jpg) no-repeat center top;
}

.index_bg_m {
	background: url(images/index_bg.jpg) no-repeat center top #d9dbd8;
}

.index_bg_mm {
	background: url(images/index_bg2.jpg) no-repeat center top;
}

.content {
	width: 980px;
	margin: 0px auto;
}

.content .logo {
	width: 500px;
	height: 70px;
	background: url(images/logo.png) no-repeat;
	*background: url(images/logo.png) no-repeat;
	float: left;
	margin: 20px auto 0px 20px;
}

.menu {
	width: 490px;
	height: 30px;
	float: right;
	background: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 0 20px #fff;
	display: block;
	line-height: 30px;
	margin-top: 20px;
}

.menu ul {
	margin: 0px 20px;
}

.menu li {
	float: left;
	padding: 0px 13px;
	position: relative
}

.menu .hot {
	background: url(images/hot.jpg) no-repeat;
	width: 30px;
	height: 20px;
	display: block;
	position: absolute;
	top: 8px;
	left: 65px;
}

.con_head {
	height: 70px;
	width: 1010px;
	clear: both;
	position: relative;
}

.hot_title {
	font-size: 14px;
	color: #2c7bca;
	width: 760px;
	height: 50px;
	margin: 0px auto;
	display: block;
	font-style: italic;
	clear: both;
}

.hot_title b {
	font-style: normal;
	font-size: 20px;
	color: #ff932a;
	font-weight: normal;
	padding: 0px 5px;
}

.load_box {
	width: 760px;
	height: 420px;
	background: #FFF;
	margin: 0px auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 0 20px #fff;
	position: relative;
	clear: both;
}
/*登录*/
.login_left {
	float: left;
	width: 300px;
	height: 300px;
	margin-left: 60px;
	*margin-left: 30px;
}

.login_left h2 {
	font-size: 32px;
	color: #ed872a;
	line-height: 80px;
	margin-bottom: 10px;
}

.loginlinput {
	height: 40px;
	font-size: 14px;
	color: #3A3A3A;
}

.loginlinput2 {
	height: 25px;
	font-size: 14px;
	color: #3A3A3A;
}

.linputa {
	background: #FDF5EA;
	height: 28px;
	border: 1px solid #FADCC4;
	width: 164px;
	color: #A0A0A0;
	padding: 0px 0 0 3px;
	line-height: 28px;
}

.linputb {
	height: 28px;
	border: 1px solid #DCDCDD;
	width: 163px;
	color: #A0A0A0;
	padding: 0px 0 0 3px;
	line-height: 28px;
}

.loginlt {
	float: left;
	margin: 6px 10px 0 0;
	letter-spacing: 1px;
	width: 45px;
	text-align: center;
}

.loginlttime {
	float: left;
	margin: 8px 1px 0 0;
	letter-spacing: 1px;
	width: 20px;
	text-align: center;
}

.linput {
	float: left;
	width: 166px;
}

.lostpassword {
	float: left;
	margin: 6px 0 0 10px;
	width: 50px;
}

.m_lostpassword {
	margin: 0px 0 0 60px;
	display: inline;
}

.info {
	margin: 0px 0 0 60px;
	display: inline;
	font-size: 12px;
	color: red;
}

.lostimg {
	float: left;
	margin: 5px 0 0 10px;
	width: 62px;
}

.lostpassword a:link,.lostpassword a:visited,.lostpassword a:active {
	font-size: 12px;
	text-decoration: underline;
	color: #0058AF;
	cursor: hand;
}

.lostpassword a:hover {
	font-size: 12px;
	color: #0058AF;
	text-decoration: underline;
	cursor: hand;
}

.buttonggray {
	background: url(images/buttongray.jpg);
	width: 168px;
	height: 33px;
	border: 0;
	cursor: pointer;
}

.buttonggray:hover {
	background: url(images/buttongrayover.jpg);
}

.logintout {
	height: 30px;
	margin: 0px 0 10px 0px;
}

.logint {
	font-size: 12px;
	color: #4A7CCF;
	width: 170px;
	float: left;
}

.logincheckbox {
	vertical-align: text-bottom;
	_vertical-align: baseline;
	_margin-bottom: 2px;
	_margin-bottom: -2px\9;
}

.logintlink {
	float: left;
	margin: 0px 0 0 10px;
	*margin: 0px 0 0 10px;
	margin: 1px 0 0 10px\9;
	_margin: 4px 0 0 10px;
	width: 50px;
}

.logintlink a:link,.logintlink a:visited,.logintlink a:active {
	font-size: 12px;
	text-decoration: underline;
	color: #0058AF;
	cursor: hand;
}

.logintlink a:hover {
	font-size: 12px;
	color: #0058AF;
	text-decoration: underline;
	cursor: hand;
}

.loginbutton {
	background: url(images/loginbutton.jpg);
	width: 102px;
	height: 32px;
	border: 0;
	cursor: hand;
}

.loginbutton:hover {
	background: url(images/loginbuttonover.jpg);
}

.login_right {
	width: 400px;
	float: right;
	height: 400px;
	display: block
}

.login_lunbo {
	width: 390px;
	height: 220px;
	display: block;
	margin: 20px 10px 0px 0px;
	position: relative;
	overflow: hidden;
}

.login_lunbo .l_big {
	width: 390px;
	height: 220px;
}

.login_lunbo .s_num {
	position: absolute;
	width: 45px;
	height: 15px;
	left: 177px;
	top: 197px;
}

.login_lunbo .s_num li {
	float: left;
	width: 10px;
	height: 12px;
	background: url(images/radio_lunbo.png) no-repeat 0px 0px;
	cursor: pointer;
	margin-right: 5px;
	display: block;
}

.login_lunbo .s_num li.on {
	background-position: 0px -21px;
	overflow: hidden;
}

.login_new {
	clear: both;
	margin-top: 20px;
}

.login_new h2 {
	color: #4a7ccf;
}

.login_new a.gengduo:link,.login_new a.gengduo:visited {
	float: right;
	color: #9B9B9B;
	margin-right: 20px;
}

.login_new a.gengduo:hover {
	color: #4A7CCF;
}

.login_new ul {
	line-height: 20px;
	margin-top: 10px;
}

.login_new ul li a:link,.login_new ul li a:visited,.login_new ul li a:active {
	color: #9B9B9B;
	cursor: hand;
}

.login_new ul li a:hover {
	color: #4A7CCF;
	text-decoration: underline;
	cursor: hand;
}

.login_new span {
	margin-left: 5px;
	margin-top: -5px;
	color: #9B9B9B;
}

.login_new span.date {
	padding-left: 45px;
}

.login_new span.n_name {
	padding-left: 33px;
}

.login_new span.n01_name {
	padding-left: 5px;
}
/*自助服务*/
.uselist_name {
	color: #1a3000;
	font-size: 14px;
	margin-left: 450px;
}

.uselist_box {
	width: 760px;
	height: 460px;
	background: #FFF;
	margin: 0px auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 0 20px #fff;
	position: relative;
}

.uselist_tab {
	padding: 15px 0px 0px 25px;
}

.uselist_tabmenu {
	height: 37px;
}

.uselist_tabmenu li {
	width: 122px;
	height: 37px;
	float: left;
	background: #6ca301;
	margin-right: 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 37px;
	text-align: center;
	color: #fbfbfb;
	font-size: 14px;
	cursor: pointer;
}

.uselist_tabmenu li.on {
	background: #eb7b1a;
}

.uselist_tabcon p {
	font-size: 14px;
	margin: 24px auto 24px;
	padding-left: 15px;
}

.uselist_tabcon .jilu_menu {
	padding-left: 15px;
	height: 20px;
}

.uselist_tabcon .jilu_menu li {
	float: left;
	color: #6ca301;
	font-size: 14px;
	margin-right: 33px;
	cursor: pointer;
}

.uselist_tabcon .jilu_menu li.y_cur {
	color: #ec640a;
}

.accounttable {
	width: 670px;
	line-height: 25px;
	font-family: "宋体";
	border: 1px solid #dddddd;
	border-collapse: collapse;
	margin-left: 15px;
	margin-top: 20px;
}

.accounttable th {
	border: 1px solid #dddddd;
	color: #444444;
	font-weight: bold;
	background: #f3f1f1;
	text-align: center;
	vertical-align: middle;
}

.accounttable td {
	text-align: center;
	color: #444444;
	height: 30px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	padding-left: 4px;
}

.accounttable td.left_text {
	text-align: left;
	line-height: 16px;
}

.tc_title {
	color: #ec640a;
	font-size: 24px;
	line-height: 60px;
	display: block;
}

p.tc_use {
	color: #5f5e5e;
	font-size: 12px;
	line-height: 0px;
	font-family: "宋体", "微软雅黑", "黑体";
}

.accrtable {
	margin: 0 0 0 2px;
}

.accul {
	height: 35px;
}

.accinput {
	background: #fff;
	border: 1px solid #bdbcbd;
	height: 26px;
	width: 163px;
	padding: 2px 0 0 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 20px #fff;
}

.pass_text {
	color: #595858;
	font-size: 14px;
	width: 140px;
	text-align: right;
	float: left;
	margin-right: 15px;
	height: 28px;
	line-height: 28px;
}

.buttonb {
	width: 107px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #6ca301;
	margin-top: 8px;
	color: #FFF;
	font-size: 14px;
}

.spaceb {
	height: 50px;
	line-height: 50px;
	font-family: "宋体", "微软雅黑", "黑体";
	padding-left: 65px;
}

.spacdw {
	height: 18px;
	line-height: 18px;
	padding-left: 15px;
	color: #595858;
	font-size: 14px;
}
/*登入自助服务*/
.login_service {
	width: 242px;
	height: 308px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 0 20px #fff;
	background: #FFF;
	margin: 75px 0px 0px 500px;
	padding: 55px 40px;
}

.service_title {
	font-size: 24px;
	color: #ed872a;
	width: 242px;
	height: 60px;
	text-align: center;
	display: block;
}

.loginlt_ser {
	float: left;
	margin: 2px 10px 0 0;
	letter-spacing: 1px;
	width: 45px;
	text-align: center;
	color: #343434;
}

.linputa_ser {
	background: #fefefe;
	border: 1px solid #bdbdbd;
	color: #A0A0A0;
	padding: 0px 0 0 3px;
	line-height: 22px;
	width: 164px;
	height: 22px;
}

.code {
	width: 60px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	background: #bbb6b0;
	color: #edebec;
	float: left;
	margin-left: 7px;
}

/*客户端下载*/
.indent {
	color: #444444;
	padding-left: 16px;
}

.download-by-mobiletype {
	position: relative;
	width: 460px;
	padding-left: 60px;
	margin-top: 10px;
}

.download-by-mobiletype p {
	padding: 5px 0;
	width: 400px;
	color: #666666;
	line-height: 18px;
	font-family: "宋体", "微软雅黑", "黑体";
}

.download-by-mobiletype select {
	margin: 0 48px;
	width: 150px;
}

.download-by-mobiletype button {
	position: absolute;
	right: 0;
	top: 3px;
	width: 168px;
	height: 56px;
	background: url(images/download_dlbutton.png) no-repeat;
	cursor: pointer;
	border: none;
}

.download-by-mobiletype button span {
	display: none;
}

hr {
	border: none;
	margin: 15px 0;
	height: 1px;
	line-height: 1px;
	border-top: 1px #E8E8E8 solid;
	width: 622px;
}

.sys-list {
	padding: 15px 0 0 120px;
}

.sys-list li {
	padding: 6px 0;
	line-height: 16px;
}

.sys-list li a:link,.sys-list li a:visited {
	padding: 0 2px 0 0;
	color: #3137FF;
	text-decoration: underline;
}

.sys-list li a:link,.sys-list li a:hover {
	padding: 0 2px 0 0;
	color: #3137FF;
	text-decoration: underline;
}

/*校园套餐*/
p.normal_p {
	text-indent: 12px;
	line-height: 22px;
	padding: 5px 10px 5px 0px;
}

.f_gray67 {
	color: #676767;
}

table.taocan {
	margin: 5px 0px 5px 0px;
	border-collapse: collapse;
}

table.taocan th,table.taocan td {
	border: 1px #D1D1D1 solid;
	padding: 4px;
}

table.taocan th {
	white-space: nowrap;
}

table.taocan td {
	vertical-align: middle;
	line-height: 1.5;
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

.tao_title {
	font-size: 14px;
	font-weight: bold
}

/*登录成功*/
.login_cg_left {
	float: left;
	width: 355px;
	height: 300px;
	margin-top: 20px;
	padding-left: 5px;
}

.per_name {
	color: #ed872a;
	font-size: 20px;
	text-align: center;
}

.per_tel {
	color: #5c5c5c;
}

.tishi {
	font-family: "宋体", "微软雅黑", "黑体";
	color: #727272;
}

.xiaxian {
	text-decoration: underline;
	color: #2e7bcb;
}

.login_cg {
	font-size: 24px;
	margin: 12px auto 20px;
	*margin: 8px auto 16px;
}

a.down:link,a.down:visited {
	color: #2e7bcb;
	text-decoration: underline;
}

a.down:hover {
	color: #2e7bcb;
	text-decoration: underline;
}

.tc_js {
	color: #727272;
	font-family: "宋体", "微软雅黑", "黑体";
	line-height: 22px;
	text-indent: -85px;
	padding-left: 90px;
}

.login_time {
	height: 47px;
	margin: 25px auto 18px;
	*margin: 20px auto 13px;
}

.login_text {
	width: 100px;
	float: left;
	height: 30px;
	line-height: 28px;
	padding-top: 8px;
	font-family: "微软雅黑", "黑体", "宋体";
	color: #2C7BC8;
	font-size: 16px;
	margin-left: 5px;
}

.loginrtimebg {
	background: url(images/loginrtimebg.jpg) no-repeat;
	width: 120px;
	height: 47px;
	position: relative;
	float: left;
	overflow: hidden
}

.timehour {
	position: absolute;
	top: 10px;
	left: 14px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.timeminute {
	position: absolute;
	top: 10px;
	left: 48px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.secs {
	position: absolute;
	top: 10px;
	left: 84px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.loginrbuttonbg {
	text-align: center;
	padding-top: 5px;
	position: relative
}

.loginrbuttona {
	background: url(images/loginrbuttoma.jpg) no-repeat;
	width: 102px;
	height: 32px;
	border: 0px;
	cursor: hand;
	float: left;
	margin-left: 10px;
}

.logint {
	margin-top: 10px;
	width: 270px;
	margin-left: 60px;
	font-family: "宋体", "黑体", "微软雅黑";
	color: #0159af;
	display: inline;
}

.logint a.info {
	margin-left: 20px;
}

.logint label {
	cursor: pointer
}

.logincheckbox {
	vertical-align: text-bottom;
	_vertical-align: baseline;
	_margin-bottom: 2px;
	_margin-bottom: -2px\9;
}

.menu_tab {
	width: 360px;
	height: 172px;
	margin-top: 12px;
	margin-left: 30px;
	overflow: hidden;
	line-height: 45px;
}

.menu_tab .menu_head {
	height: 28px;
}

.menu_tab .menu_head li {
	width: 63px;
	height: 26px;
	border: 1px solid #c7cfd1;
	float: left;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
	color: #444444;
	font-size: 14px;
	cursor: pointer;
}

.menu_tab .menu_head li.on {
	background: #2e7bcb;
	border: 1px solid #2e7bcb;
	color: #FFF;
}

.menu_tab .menu_head li.m_right0 {
	margin-right: 0px;
}

.menu_tab .menu_con {
	width: 360px;
	height: 135px;
	margin-top: 8px;
	*margin-top: 0px;
}

.help_link {
	height: 80px;
	margin-left: 30px;
	*margin-left: 15px;
	margin-top: 15px;
}

.icon_link {
	float: left;
	width: 300px;
	height: 80px;
}

.icon_link li {
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}

.more {
	float: right;
	margin-top: 15px;
	margin-right: 8px;
}

a.more:link,a.more:visited,a.more:active {
	color: #9B9B9B;
	cursor: hand;
}

a.more:hover {
	color: #4A7CCF;
	text-decoration: underline;
	cursor: hand;
}

.new_title {
	font-size: 24px;
	padding-left: 30px;
	line-height: 60px;
	color: #ed872a;
}

.new_title_2 {
	font-size: 18px;
	padding-left: 30px;
	line-height: 60px;
	color: #ed872a;
}

.new_list {
	width: 700px;
	margin: 0px auto;
	line-height: 30px;
}

.sub_title {
	font-size: 18px;
	padding-left: 130px;
	line-height: 40px;
	color: #ed872a;
	clear: both;
}

.sub_title a.user_button {
	width: 60px;
	font-size: 14px;
	float: right;
	margin-right: 98px;
}

.l_left {
	width: 160px;
	height: 700px;
	background: #ddf1bd;
	margin: 0px auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.l_left ul {
	font-size: 14px;
	line-height: 40px;
	margin: 20px 0px 0px 0px;
}

.l_left ul li {
	padding-left: 20px;
}

.l_left ul .current {
	width: 145px;
	height: 25px;
	display: block;
	color: #FFF;
	line-height: 25px;
	background: url(images/menu_bg.jpg) no-repeat 10px 0px;
	padding-left: 20px;
}

.l_left ul .current a {
	color: #FFF;
}

.r_left {
	width: 560px;
	float: right;
	margin-right: 10px;
	padding-top: 20px;
	color: #676767;
}

.r_left h3 {
	font-size: 28px;
	line-height: 50px;
	text-align: center;
}

.r_left_con {
	line-height: 30px;
}

.r_left_con .b_t {
	font-size: 18px;
}

.r_left_con p.mz {
	text-indent: 20px;
}
/*翻页*/
DIV.scott_con {
	position: absolute;
	top: 380px;
	left: 0px;
	width: 760px;
}

DIV.scott {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	margin: 0px auto;
	width: 300px;
}

DIV.scott A {
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ddd 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #ddd 1px solid;
	COLOR: #88af3f;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #ddd 1px solid;
	TEXT-DECORATION: none
}

DIV.scott A:hover {
	BORDER-RIGHT: #85bd1e 1px solid;
	BORDER-TOP: #85bd1e 1px solid;
	BORDER-LEFT: #85bd1e 1px solid;
	COLOR: #638425;
	BORDER-BOTTOM: #85bd1e 1px solid;
	BACKGROUND-COLOR: #f1ffd6
}

DIV.scott A:active {
	BORDER-RIGHT: #85bd1e 1px solid;
	BORDER-TOP: #85bd1e 1px solid;
	BORDER-LEFT: #85bd1e 1px solid;
	COLOR: #638425;
	BORDER-BOTTOM: #85bd1e 1px solid;
	BACKGROUND-COLOR: #f1ffd6
}

DIV.scott SPAN.current {
	BORDER-RIGHT: #b2e05d 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #b2e05d 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #b2e05d 1px solid;
	COLOR: #fff;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #b2e05d 1px solid;
	BACKGROUND-COLOR: #b2e05d
}

DIV.scott SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #f3f3f3 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #f3f3f3 1px solid;
	COLOR: #ccc;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #f3f3f3 1px solid
}

.load_con {
	width: 700px;
	margin: 0px auto;
}

.load_con .title {
	font-size: 24px;
	text-align: center
}

.load_con .time {
	font-size: 12px;
	text-align: center;
	color: #999;
	width: 200px;
	margin: 0px auto;
	line-height: 30px;
}

.load_mm {
	line-height: 22px;
}

.foot {
	width: 980px;
	height: 22px;
	margin: 50px auto 0px auto;
	text-align: center;
	color: #444444;
}
/*----------------goodbay page--------------*/
.WlanBye_box {
	height: 200px;
	margin: 100px auto 100px 0px;
	position: relative;
}

.WlanBye_box p {
	width: 300px;
	height: 200px;
	left: 100px;
	top: 0px;
	text-align: left;
	line-height: 200px;
	font-size: 16px;
	color: #ea611e;
	font-weight: bold;
}
/*----------------end goodbay page--------------*/